<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<div class="sidebar">
    <a href="/" class="active"> Home </a>
    <a href="#news"> News </a>
    <a href="#contact"> Contact </a>
    <a href="#about"> About </a>
</div>
<div class="content">
    <body>
        <table class = "display-table">
            <tr>
                <th>
                    <a href="/players/sortby=name"> Name </a>
                </th>
                <th> 
                    <a href="/players/sortby=position"> Position </a>
                </th>
                <th>
                    <a href="/players/sortby=team"> Team </a>
                </th>
            </tr>
            {{#each results }}
                <tr>
                    <td> {{ name }} </td>
                    <td> {{ position }} </td>
                    <td> {{ team }} </td>
                </tr>
            {{/each}}
        </table>
    </body>
</div>
</html>